extends layout

block content
  p Welcome! #{title}
  input(type='text' name='text' id='entext')
  input(type='text' name='text' id='uatext')
  input(type='submit' name='button' onclick='writetodbbtn();')

  script.
    function writetodbbtn(){
      var entext = document.getElementById("entext").value;
      var uatext = document.getElementById("uatext").value;

    };