extends layout

block content
  p Welcome! #{title}
  input(type='text' name='text' id='readtext')
  input(type='submit' name='button' onclick='readbtn();')

  script(src="//vws.responsivevoice.com/v/e?key=P1cJfVOp")
  script.
    function readbtn(){
      var text = document.getElementById("readtext").value;
      responsiveVoice.speak(text);
    };