<div class="container-fluid fill">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="{{index*10}}" aria-valuemin="0" aria-valuemax="100" style="width:{{index*10}}%">
                    {{index*10}}% Complete
                </div>
            </div>
            <p>Welcome to exercise listening and typing!</p>
            <br>
            <button class="btn btn-lg btn-default"  ng-click="readbtn();"><span class="glyphicon glyphicon-volume-up"></span>Play</button>
            <!--<button type="button" class="btn btn-default" ng-click="readbtn();">Play</button>-->
            <br>
            <input class="form-control input-lg" type="text" ng-model="userAnswer" placeholder="Type heard" id="enterWord">
            <button type="button" class="btn btn-default" ng-click="nextWord();" id="nextButton">Next word</button>
            <button type="button" class="btn btn-default" ng-click="skipWord();">Skip</button>
            <br>
            <label id="labelMessage" ng-bind="showCorrect"></label>
        </div>
    </div>
</div>