<div class="footer">
  <div class="container">
    <p class="text-muted">&#64; Vonoprienko
      <a class="pull-right" href="https://bitbucket.org/vonoprienko/" target="_blank">Vasiliy Onoprienko</a>
    </p>
  </div>
</div>
