<h1>My vocabulary</h1>
<div class="container-fluid fill">

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a showtab="" href="#words" aria-controls="words" role="tab" data-toggle="tab">Words</a></li>
            <li role="presentation"><a showtab="" href="#verbs" aria-controls="verbs" role="tab" data-toggle="tab">Irregular verbs</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="words">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        Add words<br>
                        En: <input class="form-control input-group" type="text" name="text" id="entext" ng-model="entext">
                        Ua: <input class="form-control input-group" type="text" name="text" id="uatext" ng-model="uatext">
                        <form name="myForm">
                            <fieldset>
                                <label>Upload on form submit</label>
                                <br>
                                Photo:
                                <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                                <i ng-show="myForm.file.$error.required">*required</i><br>
                                <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
                                <button ng-click="picFile = null" class="btn btn-primary" ng-show="picFile">Remove</button>
                                <br>
                                <br>
                                <button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Upload file</button>
                        <span class="progress" ng-show="picFile.progress >= 0">
                            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
                        </span>
                                <span ng-show="picFile.result">Upload Successful</span>
                                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                            </fieldset>
                            <br>
                        </form>
                        <button class="btn btn-default btn-primary" ng-click="addWord()">
                            Add
                        </button>
                        <hr>
                        <ul>
                            <li class="green" ng-repeat="word in vocabulary">
                                EN: {{word.en}} - UA: {{word.ua}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="verbs">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        Add irregular verbs<br>
                        <form>
                            Base form: <input class="form-control input-group" type="text" pattern="[A-Za-z]{1,30}" title="1 or 30 letters type here" id="baseform" ng-model="baseform">
                            Past simple: <input class="form-control input-group" type="text" pattern="[A-Za-z]{1,30}" title="1 or 30 letters type here" id="pastsimple" ng-model="pastsimple">
                            Past participle: <input class="form-control input-group" type="text" pattern="[A-Za-z]{1,30}" title="1 or 30 letters type here"   id="pastparticiple" ng-model="pastparticiple">
                            Transcription: <input class="form-control input-group" type="text" pattern="[A-Za-z]{0,30}" title="0 or 30 letters type here" id="transcription" ng-model="transcription">
                            Translation: <input class="form-control input-group" type="text" pattern="[A-Za-zА-Яа-я]{1,30}" title="1 or 30 letters type here" id="translation" ng-model="translation">
                            <button class="btn btn-default btn-primary" ng-click="addIrregular()">
                                Add
                            </button>
                            <hr>
                            <ul>
                                <li ng-repeat="verb in irregularVerbs" >

                                    <button ng-click="read(verb)">Play</button>
                                    {{ verb.baseForm }}, {{ verb.pastParticiple }}, {{ verb.pastSimple }} - {{ verb.translate}}

                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
